
$abril-font-family: 'Abril Fatface', cursive;

$header-name-s-fs: 5.4rem;
$header-title-s-fs: 4rem;
$header-subtitle-s-fs: 1.4rem;
$header-subtitle-s-ls: 6px;

$header-name-l-fs: 7rem;
$header-title-l-fs: 5.2rem;
$header-subtitle-l-fs: 1.8rem;
$header-subtitle-l-ls: 7.9px;