@import '../../sass/variables.scss';

.about{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px $main-padding;
  background-color: $color-11;

  &__title{
    @include header-title;
    margin-bottom: $magin-bottom-4;

    &--active{
      @include header-title-active;
    }
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    overflow: hidden;
    padding: 40px 10px;
    margin: 0 20px;
    border-radius: 15px;
    background-color: $color-12;
    overflow: hidden;
    -webkit-box-shadow: 6px 6px 15px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 6px 6px 15px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 6px 6px 15px -2px rgba(0, 0, 0, 0.2);

    @media(min-width: $min-width-about){
      display: block;
      max-width: $medium-width;
      padding: 60px 40px 40px 40px;
      margin: 40px;
    }
  }

  &__image{
    background-color: $color-11;
    width: 80vw;
    max-width: 450px;
    border-radius: 15px;
    margin-bottom: 15px;
    transform: translatex(200px);
    opacity: 0;
    transition: transform 0.2s 0.4s, opacity 0.2s 0.4s; 

    @media(min-width: $min-width-about){
      transform: translatex(-200px);
      float: left;
      margin-right: 15px;
      width: 35vw;
      max-width: 500px;
      height: 35vw;
      max-height: 500px;
      border-radius: 15px;
    }

    @media(min-width: $min-width){
      transition: 0.2s 0.4s;
    }

    &--active{
      transform: translatex(0);
      opacity: 1;
    }
  }

  &__text{
    font-size: $font-size-m;
    width: 80vw;
    max-width: 450px;
    font-weight: 300;
    line-height: 1.4;
    transform: translateY(200px);
    opacity: 0;
    transition: transform 0.2s 0.4s, opacity 0.2s 0.4s; 

    @media(min-width: $min-width-about){
      font-size: $font-size-xm;
      width: auto;
      max-width: 100%;
    }

    &--active{
      transform: translateY(0);
      opacity: 1;
    }
  }
}